<% if object.errors.any? %>
    <div class="alert alert-outline-danger fade show" role="alert">
        <div class="alert-text">
            <h4 class="alert-heading text-center">The form contains <%= pluralize(object.errors.count, "error") %>.</h4>
            <br>
            <ul class="list-group">
                <% object.errors.full_messages.each do |phc_notification_msg| %>
                    <li class="list-group-item"><%= phc_notification_msg %></li>
                <% end %>
            </ul>
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
<% end %>
